In [1]:
print("Hello WOrld!")
print('Hello World')
print("'Hello World'")
print('"Hello World"')

Hello WOrld!
Hello World
'Hello World'
"Hello World"

In [2]:
print("Something is better",end=' ')
print("then nothing!")

Something is better then nothing!

In [3]:
10*12

120

In [4]:
10.23*2.3

23.529

In [5]:
x=5
type(x)

int

In [6]:
apples=5
print("Hello" + str(apples))
print("Hello",apples)

Hello5
Hello 5

In [7]:
print("""hello world
what is up""")

hello world
what is up

In [8]:
name = "Mahad"
print(f"Hello {name}")

Hello Mahad

In [10]:
x = int(input("Enter a number: "))
print("Value of square is: ",x**x)

Enter a number: 3
Value of square is:  27

In [11]:
a,b,c = 10,20.3,"30ff"
print(a,b,c)

10 20.3 30ff

In [12]:
a=10
if a == 10:
    print("Correct")
else:
    print("Incorrect")

Correct

In [13]:
a = 10
b = 3.143
if a == 10 and b==3.14:
    print("Correct")
else:
    print("Incorrect")

Incorrect

In [14]:
numbers=[3,4,5,6,7]
type(numbers)

list

In [15]:
numbers = ((1,3,"Mahad"),(2,10,"nice"))
type(numbers)

tuple

In [16]:
numbers = {1:'Hello',2:'Mahad'}
type(numbers)

dict

In [17]:
a = [1,2,3,4,5,6]
for i in a:
    print(i,end='\t')

1	2	3	4	5	6

In [18]:
for i in range(1,7):
    print(i,end = '\t')

1	2	3	4	5	6

In [19]:
genre = ['pop','rock','jazz']
for i in range(3):
    print(genre[i],end="\t")

pop	rock	jazz

In [20]:
genre = ['pop','rock','jazz']
for i in range(len(genre)):
    print(genre[i],end="\t")

pop	rock	jazz

In [21]:
genre = ['pop','rock','jazz']
for music in genre:
    print(music,end="\t")

pop	rock	jazz

In [22]:
n,i,sum = 10,1,0
while(i<=n):
    sum = sum + i
    i=i+1
print(f"Sum is {sum}")

Sum is 55

In [23]:
garage_area = ["Garage",10.2]
areas = [["Bed",5.2],["Hall",7.5],garage_area]
print(areas)

[['Bed', 5.2], ['Hall', 7.5], ['Garage', 10.2]]

In [24]:
for area in areas:
    print(area[0],area[1])

Bed 5.2
Hall 7.5
Garage 10.2

In [25]:
print(areas[-1])

['Garage', 10.2]

In [26]:
# slicing
numbers = [1,2,3,4,5,6,7,8]
print(numbers[2:6])
print(numbers[3:])
print(numbers[:5])
print(numbers[:])

[3, 4, 5, 6]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
# mutable lists (tuples are not mutable)
even = [3,5,7,11]
even[0]=0
even[1:]=[2,4,6,8]
print(even)

[0, 2, 4, 6, 8]

In [28]:
#concatenation of lists
print([1,3,5]+[7,9,11])
print(["re"]*3)

[1, 3, 5, 7, 9, 11]
['re', 're', 're']

In [29]:
#list methods
odd = [3,5,7,11]
even = [0,2,4,6,8,10]

# Append 1 item
even.append(12)
even.append([14,16])
print(even)

#extend 1 or more at position
even.extend([14,16,18])
print(even)

#insert 1 or more at position (index,value)
odd.insert(6,15)
print(odd)

[0, 2, 4, 6, 8, 10, 12, [14, 16]]
[0, 2, 4, 6, 8, 10, 12, [14, 16], 14, 16, 18]
[3, 5, 7, 11, 15]

In [1]:
my_tuple = ("Hello")
print(type(my_tuple))

my_tuple = ("Hell0",)
print(type(my_tuple))

my_tuple = "Hello",
print(type(my_tuple))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [2]:
a = (("Mahad","Ahmed"))
print(a)
print(a[0])
print(a[0][0])

('Mahad', 'Ahmed')
Mahad
M

In [10]:
a = [("Mahad","Ahmed"),("Leo","Messi")]
print(a)
print(a[0])
print(a[0][0])

[('Mahad', 'Ahmed'), ('Leo', 'Messi')]
('Mahad', 'Ahmed')
Mahad

In [4]:
a = tuple(input())
print(a)

Mahad Ahmed
('M', 'a', 'h', 'a', 'd', ' ', 'A', 'h', 'm', 'e', 'd')

In [5]:
#changing list inside a tuple is possible
a = (1,2,[3,4])
print(a)
a[2][0]= 5
print(a)

(1, 2, [3, 4])
(1, 2, [5, 4])

In [8]:
a = tuple(input())
print(a.count('a'))

Mahad Ahmed
2

In [17]:
# Dictionaries
d1 = {1:"Apple",2:"Banana",3:"Orange"}
print(d1)
print(d1[1])

d2 = {"Mahad":"Ahmed","Usman":"fzal"}
d2['Usman']="Afzal"
print(d2['Usman'])

{1: 'Apple', 2: 'Banana', 3: 'Orange'}
Apple
Afzal

In [23]:
# Sets

#No Duplicates allowed
my_set = {1,2,5,6}
print(my_set)

#Add an element
my_set.add(4)
print(my_set)

#Add multiple
my_set.update([3,7])
print(my_set)

{1, 2, 5, 6}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}